<div class="dashboard-container">

  <main class="main-content">
    <div class="breadcrumb">
      Inicio > Pedidos
    </div>

    <h1>Tus pedidos</h1>

    <div class="tab-navigation">
      <span
        [class.active]="activeTab === 'Todos'"
        (click)="filterPedidos('Todos')"
      >Todos</span>
      <span
        [class.active]="activeTab === 'Pendiente'"
        (click)="filterPedidos('Pendiente')"
      >Pendientes</span>
      <span
        [class.active]="activeTab === 'Confirmado'"
        (click)="filterPedidos('Confirmado')"
      >Confirmados</span>
      <span
        [class.active]="activeTab === 'Cancelado'"
        (click)="filterPedidos('Cancelado')"
      >Cancelados</span>
    </div>

    <h2>Listado de pedidos</h2>

    <div class="orders-list-container">
      <table *ngIf="filteredPedidos.length > 0">
        <thead>
          <tr>
            <th *ngFor="let key of objectKeys(filteredPedidos[0])">{{ key }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pedido of filteredPedidos" (click)="goToPedidoDetail(pedido.id_pedido)">
            <td *ngFor="let key of objectKeys(pedido)">{{ pedido[key] }}</td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="filteredPedidos.length === 0">
        No hay pedidos para mostrar.
      </div>
    </div>
  </main>
</div>